.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.login-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container  input[type='text'],
.login-container  input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginBtn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginBtn:hover {
  background-color: #0056b3;
}

/* SideBar css */
.sidebar {
  height: 90vh;
  width: 15%;
  background: #0d6efd;
  color: white;
  transition: width 1s ease-in-out;
}

.sidebar-hidden {
  width: 0;
  display: none;
}
